extends template

block t-title-h1
	h1 About LSMSA SGO

block t-title-h2
	h2 Information About LSMSA SGO

block content

	div.basicTextContainer
		p The Louisiana School Student Government Organization (SGO) is the governing entity of the LSMSA student body. It is comprised of nine representatives - five senators, a president, vice-president, secretary, and treasurer - from the Sophomore, Junior, and Senior class, as well as three Executive Board Members - president, vice-president, and secretary/treasurer, all of whom are seniors. LSMSA SGO serves as the liaison between the Louisiana School student body and the school's faculty, staff, and Board of Directors. Students historically have spoken with their classes' representatives about any issues, who then presented those issues to the larger SGO at regular meetings. The purpose of this website is twofold - to give students another avenue by which to express their concerns, and to keep the student body more informed about the process of Student Government at LSMSA.