extends template

block t-title-h1
	h1 Changelog

block t-title-h2
	h2 Daily Website Changes

block content

	div.changelogContainer

		div.dateContainer
			h3 9/27/2015
			ul
				li + Fixed error causing automated emails to be sent to incorrect recipients
				li + Added news database table

		div.dateContainer
			h3 9/26/2015
			ul
				li + Improved standarized email and issue loading utilities
				li + Converted single issue loading to faster/cleaner promise-based loading
				li + Added an email alert on issue submission, issue approval, and when an issue is marked as resolved
				li + Standardized the common email format
				li + Changed styling of global emails
				li + Converted emailing system to (bluebird) promise-based system

		div.dateContainer
			h3 9/24/2015
			ul
				li + Added ability for admins to mark issues as resolved
				li + Added ability for issues to be resolved
				li + Added "welcome" email
				li + Created dyanamic recent issue listing inside of emails

		div.dateContainer
			h3 9/21/2015
			ul
				li + Website profiles created for Google Web Master
				li + XML Sitemap created for Google indexing
				li + Created email module, allowing the website to email users based on their interaction with the site.

		div.dateContainer
			h3 9/20/2015
			ul
				li + Ability to sort issue page
				li + Responsive issue box design
				li + Complete admin panel
				li + Started changelog