extends template

block t-title-h1
	h1 Changelog

block t-title-h2
	h2 Daily Website Changes

block content

	div.changelogContainer

		div.dateContainer
			h3 9/21/2015
			ul
				li + Created email module, allowing the website to email users based on their interaction with the site.

		div.dateContainer
			h3 9/20/2015
			ul
				li + Ability to sort issue page
				li + Responsive issue box design
				li + Complete admin panel
				li + Started changelog