extends template

block t-title-h1
	h1 Changelog

block t-title-h2
	h2 Daily Website Changes

block content

	div.changelogContainer
	
		div.changeDateContainer
			h3 11/17/2015
			ul
				li + Added persistent sessions via session store
				li + Safari/iOS bugfixes
	
		div.changeDateContainer
			h3 11/15/2015
			ul
				li + Added meal admin panel to user drop down in navigation
				li + Added admin ability to delete meal reviews
				li + Added meal review admin page
				li + Changed mobile navigation menu
				li + Fixed meal selection bug for Sunday
	
		div.changeDateContainer
			h3 11/14/2015
			ul
				li + Added technology explanation page
				li + Made universal jade template header responsive

		div.changeDateContainer
			h3 11/13/2015
			ul
				li + Added server-side statistical analysis on dates
				li + Fixed multiple CSS bugs: No more time hang over on review. Fixed food login message on mobile.
				li Made database check run every startup, ensuring that triggers are created, etc

		div.changeDateContainer
			h3 11/12/2015
			ul
				li + Changed algorithm for sorting dates to allow the display of blank dates.

		div.changeDateContainer
			h3 11/11/2015
			ul
				li + Custom Passport implementation middleware that supports setting a dynamic success redirect using user sessions
				li + Functional submission for Meal Review
				li + Curse word checking for meal review submissions

		div.changeDateContainer
			h3 11/10/2015
			ul
				li + Meal Review Timeline

		div.changeDateContainer
			h3 11/5/2015
			ul
				li + Added admin parsing middleware to dynamically determine if the user is an admin
				li + Added admin panel button under user menu (shows only if admin is logged in)
				li + Added comment approval and comment display to the admin panel
				li + Added email to original poster on comment approval

		div.changeDateContainer
			h3 9/28/2015
			ul
				li + Added new-line parsing so that paragraphs display on issue pages
				li + Changed Issue Board to promise-based loading system
				li + Added navigation buttons to the issue pages (back, home, upvote)
				li + Made new navigation buttons responsive

		div.changeDateContainer
			h3 9/27/2015
			ul
				li + Added new issue alert on home page
				li - Removed easy read mode on issue pages
				li + Fixed error causing automated emails to be sent to incorrect recipients
				li + Added news database table

		div.changeDateContainer
			h3 9/26/2015
			ul
				li + Improved standarized email and issue loading utilities
				li + Converted single issue loading to faster/cleaner promise-based loading
				li + Added an email alert on issue submission, issue approval, and when an issue is marked as resolved
				li + Standardized the common email format
				li + Changed styling of global emails
				li + Converted emailing system to (bluebird) promise-based system

		div.changeDateContainer
			h3 9/24/2015
			ul
				li + Added ability for admins to mark issues as resolved
				li + Added ability for issues to be resolved
				li + Added "welcome" email
				li + Created dyanamic recent issue listing inside of emails

		div.changeDateContainer
			h3 9/21/2015
			ul
				li + Website profiles created for Google Web Master
				li + XML Sitemap created for Google indexing
				li + Created email module, allowing the website to email users based on their interaction with the site.

		div.changeDateContainer
			h3 9/20/2015
			ul
				li + Ability to sort issue page
				li + Responsive issue box design
				li + Complete admin panel
				li + Started changelog