extends template

block t-title-h1
	h1 Coming Soon

block t-title-h2
	h2 This page is coming soon

block content

	div.basicTextContainer
		p This page is not yet ready to be published on the website. LSMSA SGO is working on getting this information ready for the public.