extends template

block t-title-h1
	h2.ch2 The Constitution of The

block t-title-h2
	h1.ch1 Student Government Organization (SGO)

block t-title-h3
	h2.ch2 Of the Louisiana School for Math, Science, and the Arts

block content

	div.constitutionContainer

		div.section
			div.title
				h2 Article I - Name of the Organization
			div.subSection
				div.inner
					p The Name of the organization is:
					p The Student Government Organization (SGO) of The Louisiana School for Math, Science, and the Arts

		div.section
			div.title
				h2 Article II - Student Government Organization

			div.subSection
				div.title
					h3 Section 1 - Objectives
				div.inner
					p The objectives of SGO are:
					ol
						li to provide a democratic forum in which students can address those school and residential life related issues which affect their lives
						li to maintain a continuous communication channel from students to both faculty and administration, as well as among the students;
						li to offer a year long program of social functions and community involvement projects for students; and
						li to encourage responsibility and good citizenship, using the school 				environment as the primary training ground.

			div.subSection
				div.title
					h3 Section 2 - Members
				div.inner
					p The Student Government Organization of the Louisiana School for Math, Science, and the Arts consists of six parts:
					ol
						li the student body;
						li an Executive Committee;
						li a Senate;
						li a Senior Class;
						li a Junior Class;
						li a Sophomore Class;

			div.subSection
				div.title
					h3 Section 3 - Meetings
				div.inner
					p SGO will hold meetings whenever the SGO Executive Committee sees fit.
					p The day, time, and place of these meetings will be established by the SGO Executive Committee at the beginning of each school year.
					p Special meetings may be called by the School’s Executive Director, the SGO Sponsor, the President of the Executive Committee, or by written request of two-thirds (2/3) of the Senate. The request will be submitted to the President of the Executive Committee. The purpose of the meeting must be stated in the call. No previous notice is necessary if the meeting is held during the regular school day. If held after the regular school day, at least one (1) days notice is required.
					p A majority of two-thirds (2/3) of the entire council constitutes a quorum. Any member of SGO may attend meetings and participate in discussions upon recognition by the SGO Executive Committee President.

		div.section
			div.title
				h2 Article III - Student Body

			div.subSection
				div.title
					h3 Section 1 - Members
				div.inner
					p Each officially enrolled student at the Louisiana School for Math, Science, and the Arts is automatically a member of the Student Government Organization.

			div.subSection
				div.title
					h3 Section 2 - Duties
				div.inner
					p The duties of the students are to vote responsibly in all elections in which they are eligible to vote. Students should voice all opinions and areas of concern to the appropriate representative. Students are responsible for maintaining the respectability of the LSMSA campus and its property.

		div.section
			div.title
				h2 Article IV - SGO Executive Committee

			div.subSection
				div.title
					h3 Section 1 - Objectives
				div.inner
					p The Executive Committee’s objectives are to coordinate activities and projects with the administration and all branches of the Student Government Organization. It will also assure that the SGO abides by the clauses which comprise the Louisiana School Student Government Organization Constitution.

			div.subSection
				div.title
					h3 Section 2 - Members
				div.inner
					p The Executive Committee consists of three (3) members: a President, a Vice-President, and a Secretary/Treasurer. The SGO Executive Committee must choose a suitable advisor.

			div.subSection
				div.title
					h3 Section 3 - Responsibilities and Duties of Members
				div.inner

					div.innerListContainer
						p Members of the Executive Committee:
						ol
							li must be seniors (elected as juniors);
							li hold office for one year;
							li must maintain individual Grade Point Averages of at least 3.0 for each semester;
							li may not be President or head of any other LSMSA club, publication, or group if running for SGO Executive Committee President; and
							li will take office at the last scheduled SGO meeting of their junior year.

					div.innerListContainer
						p The Executive Committee:
						ol
							li oversees the SGO;
							li plans agendas for SGO meetings;
							li runs all elections
							li acts for the SGO in interim between SGO meetings; and
							li will choose Senate Committee Heads and Committee Members once the Senate is filled and will create Constitutional Review Committee (CRC).

					div.innerListContainer
						p The Executive Committee:
						ol
							li presides over SGO Meetings and Executive Committee meetings;
							li serves as ex-officio member on all Senate Committees;
							li assumes all functions associated with the office of President;
							li vetoes or approves Senate actions at SGO Meetings; and
							li is the official liaison between SGO and the Executive Director of LSMSA.

					div.innerListContainer
						p The Vice-President:
						ol
							li serves as President pro-tempore when the President is absent;
							li assumes such duties and responsibilities as assigned by the President;
							li keeps track of committees and reports to the President;
							li is commissioner of elections;
							li casts tie votes; and
							li is the liaison between the Executive Committee and the Senate.

					div.innerListContainer
						p The Secretary/Treasurer:
						ol
							li records the minutes of all open SGO and Executive Committee meetings and keeps a copy for Executive Committee records and publicly posts copies;
							li prepares a budget from funds generated through fund-raisers;
							li presents the Senate and the Executive Committee with information and 			recommendations concerning SGO’s fiscal affairs;
							li is responsible for obtaining GPAs of all Senate representatives every semester to ensure that these senators meet grade point average requirements as stated in this Constitution;
							li serves as President pro-tempore when the President and the Vice-				President are absent; and
							li assumes such duties and responsibilities as assigned by the President.

			div.subSection
				div.title
					h3 Section 4 - Meetings
				div.inner
					p The Executive Committee meets at least once a week. All three (3) officers must be present unless excused by the other two (2) officers of the Executive Committee with or without the Sponsor and/or the Executive Director of the School. Meetings may be called by any member of the Executive Committee, the Sponsor, or the Executive Director of the School.