footer

	div.upper

		div.upperImage
			img(src="/images/DarkBlueLeaf.png")
		
		div.upperNav
			ul
				li
					a(href="") Home
				li
					a(href="") About
				li
					a(href="") Issues
				li
					a(href="") News
				li
					a(href="") Events
				li
					a(href="") Login

		div.lowerNav
			ul
				li
					a(href="") Members
				li
					a(href="") Constitution
				li
					a(href="") Technology


	div.lower
		h1 
			span Created by 
			span.name Connor Elsea
			span , Website Donated to LSMSA in 2015
		h2 Powered by Node.JS and Open-Source Software