footer

	div.upper

		div.upperImage
			img(src="/images/DarkBlueLeaf.png")
		
		div.upperNav
			ul
				li
					a(href="/") Home
				li
					a(href="/about") About
				li
					a(href="/issues") Issues
				li
					a(href="/news") News
				li
					a(href="/events") Events
				li
					a(href="/login-welcome") Login

		div.lowerNav
			ul
				li
					a(href="/members") Members
				li
					a(href="/constitution") Constitution
				li
					a(href="https://github.com/Connorelsea/LSMSA-SGO-Website") Technology


	div.lower
		h1 
			span Created by 
			span.name Connor Elsea
			span , Website Donated to LSMSA in 2015
		h2 Powered by Node.JS and Open-Source Software