footer

	div.section.middle
		div.inner
			h1
				span.top Website Created By
				span.bottom Connor Elsea

			p Put cute tiny blue star here between each section on the footer. Same color as text.

	div.section.bottom.dark
		div.inner
			p Created as a donation to LSMSA in 2015