head
	title= title
	include mixins.jade

	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")

	link(rel='stylesheet', href='/css/index.css')

	script(src="/scripts/jquery.js")
	script(src="/scripts/animationHeader.js")