include html

	include header

	body

		include navigation

		div.contentBody

			div.background
				div.cover.primaryCover
				div.cover.secondaryCover
				div.cover.tertiaryCover

			div.bar.foreground

				div.bar.actionBar
					div.innerBar

						div.action
							div.header
								h1.primary!= "Make a <h1 class=\'secondary\'> Difference  </h1>"
							div.sub
								a(href="/issues").button.primary Issue Board
								a(href="/about").button.secondary About

				div.bar.newsBar
					div.innerBar

						div.news

							div.story
								h2 Sophomore and Junior Class Councils Run-off Election
								h5 Latest LSMSA SGO News, Written By Eli Langley
								p The run-off election for the Sophomore and Junior Class Councils will be held Monday, September 28th between 11 AM - 1 PM in the CPT Atrium. 

							div.buttons
								a(href="/news").button.secondary Read More News
								a(href="/Members").button.secondary Learn About Members
								a(href="/events").button.secondary View Upcoming Events


				div.bar.barIssues
					div.innerBar

						div.constrainContainer

							//div.decoration
							div.issues

								div.inner

									div.header

										div.upper

											div.title
												h2
													span.primary Trending
													span.secondary Issues

											div.buttons
												a(href="/issues/submit").button.secondary Submit an Issue
												a(href="/issues").button.primary View More Issues

										div.lower
											p LSMSA SGO Issues and the Issue Board are tools created by the community for the community. Issues are submitted by students, reviewed by the LSMSA SGO, and then put on the site for students to vote on and discuss.

										div.lowerAlert
											p
												span.bold Alert: 
												span There are new issues!
											a(href="/issues") View New Issues

									div.mfIssueContainer

										if rows.length > 0
											each val in rows
												//+createIssueBox(val)
												+createMaterialIssueBox(val)
											div.addMore
												h1 These aren't the only issues. There are more!
												div.multButtons
													a(href="/issues/submit").submit-button.first Submit an Issue
													a(href="/issues").submit-button View More Issues
										else
											div.addMore
												h1 There are no issues currently
												a(href="/issues/submit").submit-button Submit an Issue
							

				include footer