doctype html
html(lang="en")
	head
		title= title
		include mixins.jade
	body
		div.bar#barOne
			header
				div.image
					img(src= "images/logo.png")
				div.nav
					nav
						+list(mainNavigation)