include html

	include header

	body

		include navigation

		div.contentBody

			div.background
				div.cover.primaryCover
				div.cover.secondaryCover
				div.cover.tertiaryCover

			div.bar.foreground

				div.bar.actionBar
					div.innerBar

						div.action
							div.header
								h1.primary Make a 
								h1.secondary Difference
							div.sub
								a(href="/issues").button.primary Issue Board
								a(href="/about").button.secondary About

				div.bar.newsBar
					div.innerBar

						div.news

							div.story
								h2 Senior Senator Runoff Election
								h5 Latest News, Written By Eli Langley
								p The first election will be a run-off for the fifth Senior Class Senator spot on Monday, September 14th. The candidates are Justin Blanchard, Emily Schultz, and Nikhil Gopalam. 

							div.buttons
								a(href="/news").button.secondary Read More News
								a(href="/Members").button.secondary Learn About Members
								a(href="/events").button.secondary View Upcoming Events


				div.bar.barIssues
					div.innerBar

						div.constrainContainer

							div.decoration
							div.issues

								div.inner

									div.header

										div.upper

											div.title
												h2
													span.primary Trending 
													span.secondary Issues

											div.buttons
												a(href="/issues/submit").button.secondary Submit an Issue
												a(href="/issues").button.primary View All Issues

										div.lower

											p Issues and the Issue Board are tools created by the community for the community. Issues are submitted by students, reviewed by the SGO, and then put on the site for students to vote on and discuss.

									div.issueContainer

										if rows.length > 0
											each val in rows
												+createIssueBox(val)
											div.addMore
												h1 You can be the voice of change
												div.multButtons
													a(href="/issues/submit").submit-button.first Submit an Issue
													a(href="/issues").submit-button View All Issues
										else
											div.addMore
												h1 There are no issues currently
												a(href="/issues/submit").submit-button Submit an Issue
							

				include footer