doctype html
html(lang="en")
	head
		title= title
		include mixins.jade
		link(rel='stylesheet', href='/css/index.css')

	body

		div.bar.barMain
			div.innerBar

				header

					div.image
						img(src= "images/logo.png")

					div.nav
						nav
							+createMainNav(list, user)

		div.bar.accentBar

		div.contentBody

			div.background
				img(src="")
				div.primaryCover
				div.secondaryCover
				div.tertiaryCover

			div.foreground

				div.bar.actionBar
					div.innerBar

						div.action
							div.header
								h1.primary Make a 
								h1.secondary Difference
							div.sub
								a(href="#issue").button.primary Issue Board
								a(href="#about").button.secondary About

				div.bar.newsBar
					div.innerBar

						div.news

							div.story
								p Stuff goes in here

							div.buttons
								a(href="#").button.secondary Read More News
								a(href="#").button.secondary Learn About Members
								a(href="#").button.secondary View Upcoming Events


				div.bar
					div.innerBar

						div.issues