extends template

block t-title-h1
	h1 Issue Board

block t-title-h2
	h2 Student-Submitted Issues

block content

		div.issueContainer.ics

			if rows.length > 0
				each val in rows
					+createIssueBox(val)
			else
				h1 No Issues Currently
				a(href="/issues/submit").button.primary Submit an Issue