div.container
	div.header
		h1 Log in or Sign up
		p Log in to or sign up for an account on the LSMSA SGO website using your Google account. You can only use your LSMSA.edu email address.
	div.frame
		a(href= "javascript:window.open(\"./auth/google\", \"Log in or Sign up for LSMSA SGO Website\", \"height=600,width=450\")") Login