mixin list(list)
	ul
		each val in list
			li(class!=attributes.class)
				a(href= val.link)= val.name

mixin createLoginButton(user)

	if user
		a(href="/").login= user.name
			div.info
				h1 Welcome #{user.name}
				p You are logged into the LSMSA SGO Website.
				p Email: #{user.email}

	else
		a(href="/login") Login/Signup