div.bar.barMain
	div.innerBar

		header.navigationHeader

			div.upperPart
				div.image
					a(href="/")
						img(src= "../images/logo.png").img

				div.navImage
					img(src= "../images/menu.png").menuImg

					script.
						$(function() {
							$('.menuImg').click(function() {
								if ($('.realNav').css("display") == "none") $('.realNav').slideDown("slow")
								else $('.realNav').slideUp("slow");
							});
						});

			div.nav
				nav.realNav
					+createMainNav(list, user)