extends template

block t-title-h1
	h1 News and Discussion

block t-title-h2
	h2 Upcoming SGO News

block content

	div.basicTextContainer
		p There are currently no blog posts. Check back soon for more.