extends template

block t-title-h1
	h1 Submit an Issue

block t-title-h2
	h2 Be the Change You Want to See

block content

	div.bar.submitIssue
		div.bar
			div.innerBar

				div.header

					div.title
						img(src="../images/StarBar.png")
						h2 Your Voice Heard, Anonymously
						img(src="../images/StarBar.png")

				div.body


				div.form
					form(action="/issues/submit", method="post")
						div.input
							span.label Title
							input(type="text", name="title")
