extends template

block t-title-h1
	h1 Submit An Issue

block t-title-h2
	h2 Be the change you want to see

block content

	div.bar.submitIssue
		div.bar

			div.innerBar.header
				img(src="../images/StarBar.png")
				h2 Be the change you lorem ipsum
				img(src="../images/StarBar.png")

			div.innerBar.content
				p test

			div.innerBar.form

				form(action="/issues/submit", method="post")

					div.input

						div.line
							div.label Issue Title
							input(type="text", name="title")

						div.line
							div.label Description
							textarea(name="description")