extends template

block t-title-h1
	h1 Submit An Issue

block t-title-h2
	h2 Be the change you want to see

block content

	div.bar.submitIssue

		div.bar

			if user

				div.bar.header
					img(src="../images/StarBar.png")
					h2 Be the change you lorem ipsum
					img(src="../images/StarBar.png")

				div.bar.content
					p.innerBar This is example text. This paragraph will  explain in short what an issue is and that it will either be denied or accepted after review from an SGO member.

				div.bar.form

					form(action="/issues/submit", method="post")

						div.input.innerBar

							div.line
								div.label Issue Title
								input(type="text", name="title").issueTitle

							div.line
								div.label Description
								textarea(name="description").description

							div.line.submit
								input(type="submit", name="Submit", value="Submit Issue")

			else

				div.bar.error
					p.innerBar Only users logged into the site can submit issues.
					a(href="/login").button.primary.login Login