extends template

block t-title-h1
	h1 Submit An Issue

block t-title-h2
	h2 Be the change you want to see

block content

	div.bar.submitIssue

		div.bar

			if user

				div.bar.header
					img(src="../images/StarBar.png")
					h2 Submit an Issue. Make a change.
					img(src="../images/StarBar.png")

				div.bar.content
					p.innerBar An issue is a post to the SGO website voicing a <span style="font-weight: bold;">complaint, issue, or suggestion</span> for the SGO to address. Once you submit your issue and it completes the <span style="font-weight: bold;">review process</span>, it will be automatically uploaded to the site. To view all issues, visit the Issue Board.

				div.bar.form

					form(action="/issues/submit", method="post")

						div.input.innerBar

							div.line
								div.label Issue Title
								input(type="text", name="title").issueTitle

							div.line
								div.label Description
								textarea(name="description").description

							div.line.submit
								input(type="submit", name="Submit", value="Submit Issue")

			else

				div.bar.error
					p.innerBar Only users logged into the site can submit issues.
					a(href="/login").button.primary.login Login