doctype html
html(lang="en")

	include header

	body

		include navigation

		div.bod

			div.bar.t-header
				div.t-title
					block t-title-h1
					block t-title-h2

			block content

	include footer