.basicTextContainer
	background-color _grey
	
	p
		box-sizing border-box
		width 70%
		margin 0 auto
		font-family Futura
		font-size 1.4em
		line-height 1.5em
		color darken(_navy, 24%)
		padding 40px 30px
		
.changelogContainer
	padding 30px 0px
	width 70%
	max-width 1000px
	margin 0px auto
	
	.changeDateContainer
		margin 40px 0px
		padding 40px
		background-color lighten(_grey, 60%)
		box-shadow 0px 25px 48px -9px rgba(0,0,0,0.40)
		font-family Futura
		
		h3
			font-size 1.6em
			padding-bottom 20px
			
		ul li
			font-size 1.1em
			padding 5px 0px