.basicTextContainer
	background-color _grey
	
	p
		box-sizing border-box
		width 70%
		margin 0 auto
		font-family Futura
		font-size 1.4em
		line-height 1.5em
		color darken(_navy, 24%)
		padding 40px 30px