.constitutionContainer
	width 70%
	margin 40px auto
	font-family Constantia
	
	.section
		margin 40px 0px
		box-sizing border-box
		
		> .title
			display flex
			justify-content flex-end
			
			font-size 1.3em
			font-weight bold
			padding 10px 0px
			border-bottom 1px solid black
			
		> .subSection
			margin  20px 0px
			padding-bottom 20px
			border-bottom 1px solid lighten(black, 80%)
			
			.title h3
				font-size 1.3em
				font-weight bold
				margin-bottom 10px
				
			.inner
				p
					font-size 1.1em
					padding 10px 0px
				
				ol
					margin-left 30px
					list-style-type upper-roman
					//list-style-position inside
						
					li
						padding 5px
						