/*
 * Template Editing
 *
 * This is editing the functionality of  the default
 * template in order to match the constitution title
 * styling found in the original word document.
 */
 
 .ch2
 	font-size 1.9em !important
 	
 .ch1
 	padding-top 8px
 	font-size 2.2em !important


/*
 * Constitution Container
 *
 * The container that  holds the  sections of the
 * constitution, laid out in a way that resembles
 * the style of the original document.
 */
.constitutionContainer
	width 70%
	margin 0px auto
	font-family Constantia

	/*
	 * General Section
	 *
	 * A generalized section to match the look and feel
	 * of most of the sections featured in the original
	 * document.
	 */
	.section
		margin 40px 0px
		box-sizing border-box
		
		> .title
			display -webkit-flex
			display flex
			justify-content flex-end
			margin  20px 0px
			font-size 1.3em
			font-weight bold
			padding 10px 0px
			border-bottom 1px solid black
			
		> .subSection

			padding-bottom 20px
			border-bottom 1px solid lighten(black, 80%)
			
			.title h3
				font-size 1.3em
				font-weight bold
				
				margin 10px 0px
				
			.inner
				p
					font-size 1.1em
					padding 10px 0px
				
				ol
					margin-left 30px
					list-style-type upper-roman
					//list-style-position inside
						
					li
						padding 5px
