@font-face
	font-family Futura
	src url("/fonts/FuturaLT.ttf") format("truetype")
	
@font-face
	font-family Futura
	font-weight bold
	src url("/fonts/FuturaLT-Bold.ttf") format("truetype")

@font-face
	font-family Constantia
	src url("/fonts/constan.ttf") format("truetype")
	
@font-face
	font-family Constantia
	font-weight bold
	src url("/fonts/constanb.ttf") format("truetype")
	
@font-face
	font-family Constantia
	font-weight oblique
	src url("/fonts/constani.ttf") format("truetype")