.mealHeader
	position relative
	margin 0 auto
	width 1000px
	max-width 1000px

	display flex
	justify-content space-between

	.starContainer
		margin 0px
		width 80px

		h4
			font-size 1.1em

	.mealTitle
		margin-top 190px
		margin-bottom 30px
		text-align left
		text-transform uppercase

		h1
			font-family Futura
			font-weight bold
			font-size 4em
			padding-bottom 12px

		h2
			font-family FuturaCond
			font-size 2.2em
			padding-bottom 12px

		h3
			font-family Futura
			font-weight bold
			font-size 0.8em
			opacity 0.5


	.mealSubmit
		position absolute
		top -20px
		right 0px

		width 400px
		min-width 400px
		height 280px
		min-height 280px

		padding 10px 30px

		border-radius 6px
		background-color white
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
		margin-top 180px

		.explainer
			display flex
			flex-direction column
			justify-content center
			align-items center

			height 100%

			font-family Futura
			color lightslategrey

			> *
				padding-bottom 30px

			h2
				font-weight bold
				text-transform uppercase
				font-size 1.2em

			p
				font-size 1.2em

			a
				padding 10px
				width 50%
				background-color lightslategrey
				border-radius 6px

				font-weight bold
				text-transform uppercase
				font-size 0.9em
				text-decoration none
				color white

				border 4px solid lightslategrey

				&:hover
					background-color white
					color lightslategrey


		.choiceBox
			margin 0 auto

		.ratingBox
			display flex

			.star-button
				min-width 80px
				padding-right 0px
				text-align center

				box-sizing border-box

				transition all 0.2s

				padding-top 10px

				&:hover
					cursor pointer
					padding-top 5px

				a
					text-decoration none

		.formBox
			form
				display flex
				flex-direction column
				align-items flex-end

				.rating
					display none

				textarea
					min-width 100%
					margin-top 25px
					height 110px

					font-family Futura
					font-size 1.3em

					box-sizing border-box
					padding 14px
					color lightslategrey

					border none
					border-radius 6px
					background-color lighten(lightslategrey, 80%)

					&:focus
						outline none
						outline-width 0


				.bottomContainer
					display flex
					justify-content flex-end
					align-items center
					width 100%

					padding-bottom 10px

					h4
						justify-self flex-start
						margin-top 20px
						width 100%
						text-align center
						font-family Futura
						font-weight bold
						text-transform uppercase
						color lightslategrey

					input, select
						text-transform uppercase
						font-family Futura
						font-weight bold
						color lightslategrey

						cursor pointer

						padding 0px 20px
						margin-left 10px
						border none
						border-radius 6px
						background-color lighten(lightslategrey, 80%)

						border 4px solid lighten(lightslategrey, 80%)

						min-height 35px
						margin-top 20px

						transition all 0.4s

						&:focus
							outline none
							outline-width 0

					input:hover
						background-color white



.starContainer

	h4
		padding-top 8px
		text-transform uppercase
		font-family Futura
		font-weight bold
		text-align center

	h4.worst
		color #d36661

	h4.bad
		color #bf8b89

	h4.okay
		color #929292

	h4.good
		color #e0b264

	h4.best
		color #fec163

.dateTimeline
	padding 30px 0px
	padding-top 50px

	:last-child
		border-bottom none !important

.dateContainer
	margin 0 auto
	padding 30px 0px
	width 85%
	max-width 1000px

	border-bottom 1px solid lightslategrey

	display flex

	> .left
		width 30%
		flex-direction row


	> .right
		width 70%
		margin-left 35px

.mealContainer

	padding 10px 0px

	h1, h2
		text-align center
		font-family FuturaCond
		color lightslategrey

	.mealTitle
		font-size 1.6em

	.mealSubtitle
		color lighten(lightslategrey, 30%)
		font-size 1.2em
		padding 10px 0px


.reviewContainer
	margin 30px 0px
	background-color white
	border-radius 6px
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

	display flex
	flex-direction row

	> *
		padding 20px 20px

	> .left
		min-width 80px
		padding-right 0px
		text-align center

	> .right
		//width 100%
		font-family Futura
		position relative

		display flex
		align-items center

		.contentContainer

			> .content
				color darken(lightslategrey, 60%)
				line-height 1.2em
				font-size 1.3em

				.time
					text-transform uppercase
					text-align right
					font-size 0.6em
					font-weight bold
					color lighten(lightslategrey, 40%)
					padding-left 10px



.dateBox
	background-color white
	border-radius 6px
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	> .upper-date
		padding 40px 20px
		text-align center
		overflow none
		background-image url("/images/mab.jpg")
		background-size cover
		border-top-left-radius 6px
		border-top-right-radius 6px

		h2, h3
			padding 10px
			color white
			font-family FuturaCond

		h2
			font-size 4em

		h3
			font-size 1.6em

	> .lower-date

		.mealRating

			padding 10px 0px

			.mealRatingInner
				padding 10px 0px

				.starBody
					width 100%
					text-align center

					img
						width 38px
						padding-left 5px

					:nth-child(1)
						padding-left 0px

				h3
					padding 10px
					text-transform uppercase
					text-align center
					font-size 1.4em
					font-family FuturaCond
					color lightslategrey

				h4
					text-align center
					font-family FuturaCond
					color lightslategrey
					color lighten(lightslategrey, 30%)
					font-size 1.2em
					padding 10px 0px

@media screen and (max-width: 1000px)

	.ratingBox
		display flex
		justify-content space-around

	.star-button
		width 50px !important
		max-width 50px !important
		min-width 50px !important

		.starContainer
			margin 0px !important
			padding 0px !important
			width 60px

			h4
				font-size 0.8em

	.t-header.t-mealHeader
		height inherit

	.dateTimeline
		padding-top 0px

	.mealHeader
		width 100%
		flex-direction column
		display block
		position static

		> .mealTitle
			width 80%
			text-align center
			padding 20px 0px

		.mealSubmit
			box-sizing border-box
			margin-top 0px
			min-width 100%
			width 100%
			height inherit
			border-radius 0px
			position static
			top 0

			form .bottomContainer

				> *
					width 100%

				display flex
				flex-direction column

		> *
			margin 0 auto
			display block

	.dateContainer
		width 90%
		flex-direction column

		> .left, .right
			margin 0px
			margin-top 20px
			width 100%