.dateContainer
	margin 0 auto
	padding 40px 0px
	width 70%
	max-width 1000px

	display flex

	> .left
		width 30%
		flex-direction row


	> .right
		width 70%
		margin-left 35px

.mealContainer

	padding 20px 0px

	h1, h2
		text-align center
		font-family FuturaCond
		color lightslategrey

	.mealTitle
		font-size 1.6em
		padding 10px 0px

	.mealSubtitle
		color lighten(lightslategrey, 30%)
		font-size 1.2em
		padding 10px 0px


.reviewContainer
	margin 5px 0px
	background-color white
	border-radius 6px
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


.dateBox
	background-color white
	border-radius 6px
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	> .upper-date
		padding 20px
		text-align center
		overflow none
		background-image url("/images/mab.jpg")
		border-top-left-radius 6px
		border-top-right-radius 6px

		h2, h3
			padding 10px
			color white
			font-family FuturaCond

		h2
			font-size 4em

		h3
			font-size 1.6em