footer
	
	> .upper
		padding 30px
		text-align center
		background-color darken(_navy, 70%)
		
		.upperNav, .lowerNav
			font-family FuturaCond
			text-transform uppercase
			
		.upperNav
			
			ul li a
				font-size 1.4em
				
		.lowerNav
			padding-top 10px
			
		ul
			li
				display inline-block
				padding 0px 6px
				transition all 0.4s
				
				&:hover
					padding 0px 16px
					
					a
						color lighten(_navy, 20%)
				
				a
					color _navy
					text-decoration none
	
	> .lower
		padding 30px
		text-align center
		background-color _navy
		
		h1, h2
			font-family FuturaCond
			text-transform uppercase
		
		h1
			font-size 1.2em
			color lighten(_navy, 60%)
			
			.name
				font-weight bold
				font-size 1.1em		
		h2
			font-size 1.0em
			padding-top 10px
			color lighten(_navy, 40%)