footer
	display flex
	flex-direction column
	background-image url("/images/DarkBackground.png")
	
	.section
		display flex
		flex-direction row
		justify-content center
	
		.inner
			width 1000px
		
	.dark
		background-color alpha(black, 0.4)
		
	> .top
		height 150px
	
		
	> .middle
		
		.inner
			padding 40px
		
		h1
			font-family Constantia
			color lighten(_navy, 50%)
			
			> *
				display block
				
			.top
				font-size 0.8em
				
			.bottom
				font-size 1.9em
	
	> .bottom
		
		.inner
			padding 20px
			
		p
			font-family Futura
			font-size 0.95em
			color lighten(_navy, 20%)