/*
 * Header and Navigation
 */
 
.barMain
	display flex

	z-index 9999
	top 0px
	left 0px
	position fixed
	background-color _grey
	outline 12px solid alpha(_grey, 0.5)
	
	height topWidthNormal
	
	transition height 0.4s

// The barMainSmall class is added by JQuery
// when the user scrolls, making the  entire
// header bar smaller
	 
.barMainSmall
	height topWidthSmall
	min-height topWidthSmall

// Flex box instructions for vertical alignment

.barMain .innerBar
	align-self center
	
// Header (Whole)

header
	display flex
	flex-wrap nowrap
	justify-content space-between
	align-items center

// Image/Logo
	
header .image .img
	width 400px
	
	transition width 0.4s

// This class is added when the user scrolls,
// which makes the logo in the header smaller.

.imageSmall
	width 300px !important
	min-width 300px

/* 
 * Navigation Bar
 *
 * This section includes all of  the  code  for
 * the navigation bar, how it responds to media
 * query changes, its animations, and things of
 * that nature.
 */
 
// Main List Items
// These are the list items  that  are
// displays horizontally at the top of
// the web page.

header nav ul li
	display inline-block
	position relative
	
	padding 13px
	
	font-family Futura
	font-weight normal
	font-size 1em
	
	// Removed because currently animating inline
	// the sub ul lists does not work.	
	// transition: all 0.4s

// Apply font bolding on the the uppermost
// list items

header nav > ul > li
	font-weight bold

// Change the background of the uppermost
// list items on hover

header nav ul li:hover
	background-color lighten(_grey, 50%)

// Inside of a list item there is an a block.
// This removes the text decoration and  sets
// the  color  of  all top  most and  child a
// blocks. 

header nav ul li a
	text-decoration none
	color _navy

// Changes only the uppermost list items
// to uppercase

header nav > ul > li > a
	text-transform uppercase

// Secondary Unordered Lists

header nav ul li ul
	padding 0
	position absolute
	top 40px
	min-width 200px
	opacity 0
	visibility hidden

	transition: visibility 0s linear 0.5s, opacity 0.5s linear;

// Hover of Secondary Unordered Lists

header nav ul li:hover ul
	display block
	opacity 1
	visibility visible
	
	transition-delay:0s;

// Moves login secondary unordered list to point
// in the other direction so it looks better.

header nav ul li .login
	right 0px
	
header nav ul li .sub
	left 0px
	box-shadow 0 6px 4px -2px rgba(50, 50, 50, 0.40)

// Secondary List Items

header nav ul li ul li
	display block
	
	max-width 250px
	min-width 250px
	width     250px
	
	background lighten(_grey, 50%)
	
// Hover of Secondary List Items
	
header nav ul li ul li:hover
	background-color lighten(_navy, 90%)

// Child links a
header nav ul li ul li *
	padding-left 8px
	transition all 0.4s

header nav ul li ul li:hover a
	padding-left 14px

// Make child a blocks expand to fill
// their entire given space
header nav ul li ul a
	display block

// Blue border on the bottom of the 
// last child of the sub list.

header nav ul li ul:last-child
	border-bottom 3px solid lighten(_navy, 30%)
	border-width 0px
	transition border-width 0.4s
	
header nav ul li:hover ul:last-child
 	border-width 3px

// Profile description
// Edited size and line height
	
header nav ul li ul li .desc
	font-size .8em
	line-height 1.5em
	
@media screen and (max-width: 1000px)
	header nav ul li
		display block
	
	header nav ul li ul
		visibility visible
		display block
		
	header nav ul li ul li
		display block