@media screen and (max-width: 1000px)

	.barMain
		height 22%

		header

			.image .img
				width 300px
				
			.nav
				display none
			

	.innerBar
		width     100%
		min-width 100%
		max-width 100%
		
	/*
	 * Home Page
	 *
	 * Styles specific to the home page and
	 * making its content responsive.
	 */
	 
	.actionBar .action
		padding-top    10px
		padding-bottom 60px

	.background
		> *
			display none
	 	
	.action .sub
		.button
			width 80%
		
	.newsBar
		.news
			display flex
			flex-direction column
			
			.story
				width 100%
				text-align center
				padding-bottom 30px
				
	.barIssues
		
		.inner
			
			.header > .upper
				display flex
				flex-direction column
				
				.title
					padding 20px 0px
					
				.buttons
					width 100%
					
					> .button
						width 80%
						margin-top 20px
						margin-left 0px
				
				> *
					display flex
					flex-direction column
					justify-content center
					align-items center
					
			.issueContainer
				
				a
					width 65%
				

		.constrainContainer
			width 100%
			
	/* 
	 * Issue Bar
	 */
	 	
	.issueBox
		display flex
		flex-direction column
		justify-content center
		align-items center
		
		width 100%
		
		.topContainer
			width 90% !important
			
		.topContainer.content
			height 300px