@media screen and (max-width: 1000px)

	.addMore
		text-align center
		
		.multButtons
			width 100%
			display -webkit-flex
			display flex
			justify-content center
			-webkit-justify-content center
			align-items center
			-webkit-align-items center
			flex-direction column
			-webkit-flex-direction column
			
			a
				margin 5px !important

	/*
	 * ABOUT PAGE
	 */
	.basicTextContainer
		p
			width 93%

	/*
	 * Comments on Single Issue Page
	 */
	.commentContainer
		width 90%
		margin 0 auto
		
		.explanationContainer
			width 90%
			margin 0 auto
			font-family Futura
			font-size 1.2em
			text-align center
			color _navy
	
		.submitContainer
			
			form
				height auto
				margin 25px 0px
				display -webkit-flex
				display flex
				flex-direction column
				-webkit-flex-direction column
				justify-content space-between
				-webkit-justify-content space-between
				
				.text
					height 100%
					width  100%
					
				textarea
					box-sizing border-box
					padding 10px
					height 100%
					width 100%
					
					font-family Futura
					font-size 1.3em
					color _navy
					
					background-color lighten(_grey, 90%)
					border none
					border-bottom 6px solid _navy
					box-shadow 0 6px 8px -1px rgba(50,50,50,0.4)
					outline none
					
				.submitArea
					margin 10px 0px
					height 100%
					width  100%


				
	.alertHtml
		.alertBody
			width 95%

	.submitIssue
		.header
			width 100%
			
		.content
			padding-bottom 40px
			
			color _navy
			
			font-family Futura
			font-size 1em

			line-height 1.2em
			
			p
				width 80%
				min-width 100px
				
		.form
			.submit
				input
					width 90%

	// .t-header
		
	// 	height 300px
		
	// 	.t-title
	// 		margin-top 100px

	// 	h1
	// 		font-size 2em
	// 	h2
	// 		font-size 1.8em
			
	// 	.ch1
	// 		font-size 1.4em !important
		
	// 	.ch2
	// 		font-size 1em !important
		
	.singleIssue .container
		padding 10px

	.body
		top 100px !important
		
		.container
			display -webkit-flex
			display flex
			flex-direction column
			-webkit-flex-direction column
			
			.left
				width     100%
				min-width 100%
				max-width 100%
				padding-bottom 20px
				
				.top
					padding-top 20px
					padding-bottom 0px
					
					h1
						text-align center
						font-size 1.8em
					
					h3
						text-align center
						
				.bottom
					p
						text-align center
						font-size 1.2em
				
			.right
				display -webkit-flex
				display flex
				width     100%
				min-width 100%
				max-width 100%
				
				.share
					order 0
					margin-bottom 20px
					display -webkit-flex
					display flex
					justify-content center
					-webkit-justify-content center
				
				.stats
					order 1
					width 100%
					flex-direction row
					-webkit-flex-direction row
					justify-content center
					-webkit-justify-content center
					text-align center
					margin-bottom 20px
					
					.left
						display -webkit-flex
						display flex
						flex-direction row
						-webkit-flex-direction row
						justify-content space-between
						-webkit-justify-content space-between
						padding-bottom 0px
						
						width 90%
						min-width 90%
						max-width 90%
						
						> *
							display inline-block
						
						h3
							display -webkit-flex
							display flex
							flex-direction column
							-webkit-flex-direction column
							justify-content center
							-webkit-justify-content center
							align-items center
							-webkit-align-items center
							
							width auto
							font-size 1em
						.word
							padding-left 0px
							text-align right !important
						.number
							width auto !important
							text-align right
				
				.right
					display none !important
				

	.navigationHeader
		display -webkit-flex
		display flex
		flex-direction column
		-webkit-flex-direction column

	.barMain
		height auto
				
		.upperPart
			width 100%
			display -webkit-flex
			display flex
			flex-direction row
			-webkit-flex-direction row
			justify-content space-around
			-webkit-justify-content space-around
			align-items center
			-webkit-align-items center
			
			.navImage
				display -webkit-flex
				display flex
				justify-content flex-end
				-webkit-justify-content flex-end

		header

			.image .img
				padding 20px
				width 250px
			
			.navImage
				display block
				
			nav
				display none
				
			//
			//nav
			//	width 100%
			//	//display -webkit-flex
			//	display flex
			//	display none
			//	
			//	> ul
			//		position static
			//		font-size 1.4em
			//		display -webkit-flex
			//		display flex
			//		flex-direction column
			//		-webkit-flex-direction column
			//		
			//		> li
			//			font-size 0.9em
			//			padding 5px
			//			display block
			//				
			//			ul
			//				background none
			//				background-color _grey
			//				box-shadow none
			//				opacity 1
			//				visibility visible
			//				display -webkit-flex
			//				display flex
			//				flex-direction column
			//				-webkit-flex-direction column
			//				
			//				li
			//					background-color _grey
			//					max-width auto
			//					min-width auto
			//					width     auto
			//					padding 5px
			//					font-size 0.6em

	.innerBar
		width     100%
		min-width 100%
		max-width 100%
		
	/*
	 * Home Page
	 *
	 * Styles specific to the home page and
	 * making its content responsive.
	 */
	 
	.actionBar .action
		padding-top    10px
		padding-bottom 60px

	.background
		> *
			display none
	 	
	.action .sub
		.button
			width 80%
		
	.newsBar
		.news
			display -webkit-flex
			display flex
			flex-direction column
			-webkit-flex-direction column
			
			.story
				width 100%
				text-align center
				padding-bottom 30px
				
	.barIssues
		
		.inner
			
			.header > .upper
				display -webkit-flex
				display flex
				flex-direction column
				-webkit-flex-direction column
				
				.title
					padding 20px 0px
					
				.buttons
					width 100%
					
					> .button
						width 80%
						margin-top 20px
						margin-left 0px
				
				> *
					display -webkit-flex
					display flex
					flex-direction column
					-webkit-flex-direction column
					justify-content center
					-webkit-justify-content center
					align-items center
					-webkit-align-items center
					
			.issueContainer
				
				a
					width 65%

		.constrainContainer
			width 100%
			
	/* 
	 * Issue Bar
	 */
	 	
	.issueBox
		display -webkit-flex
		display flex
		flex-direction column
		-webkit-flex-direction column
		justify-content center
		-webkit-justify-content center
		align-items center
		-webkit-align-items center
		width 100%
		
		padding-bottom 5px
		border-bottom 1px solid lighten(black, 80%)
		
		.sideContainer
			display -webkit-flex
			display flex
			flex-direction column
			-webkit-flex-direction column
			align-items center
			-webkit-align-items center
			margin 0px 10px
			height 200px
			
			.arrows
				margin 0px
			
			.votes
				padding 0px
				margin 0px
				height 80px !important
				width auto
				
				.top
					padding 0px
					
					.score
						font-size 2.5em
		
		.voteStuff
			display -webkit-flex
			display flex
			width 100%

		.topContainer.votes
			background-color _grey
			
			.score
				color _navy !important
				
			.stars
				display none
				
			.bottom
				display none
		
		> *
			margin 5px !important

		.topContainer.social
			width 90% !important
			height auto
			
		.topContainer.content
			margin 0px 10px
			height 200px
			
			.top
				padding 10px !important

				.bottom
					display none
			
		.social
			background none
			
			> .top
				padding-top 5px !important
				width 100%
				flex-direction row !important
				-webkit-flex-direction column !important
				justify-content space-around
				-webkit-justify-content space-around
				
				a
					width 30% !important
					font-weight bold
					color _navy !important
					font-size 1em !important
			
			> .bottom
				display none !important
				
@media screen and (max-width: 340px)
	.barMain
		header

			.image .img
				padding 20px
				width 83%
			
			.navImage
				padding-right 10%
				display block