/*
 * Import Nib & CSS Reset
 */
 
@import 'nib'
global-reset()

/*
 * Global Colors
 */
 
_grey   = #EBEBEB
_navy   = #1B2E5D
_yellow = #FEBB47
_green  = #40AB6F

/*
 * Global Styling
 */

.bar
	width 100%
	
.innerBar
	margin 0 auto
	
	width     1000px
	max-width 1000px
	min-width 1000px
	
/*
 * Header and Navigation
 */
 
.barMain
	background-color _grey

// Header (Whole)

header
	display flex
	flex-wrap nowrap
	justify-content space-between
	align-items center

	padding-top 50px
	padding-bottom 50px

// Image/Logo
	
header .image img
	width 400px

// Navigation Bar

header nav ul li
	display inline-block
	position relative
	padding 13px
	
	font-family "Arial"
	font-weight bold
	font-size 1em
	
	transition: all 0.2s
	
header nav > ul > li
	border-top 4px solid _grey
	
// header nav > ul > li:hover
// 	border-top 4px solid lighten(_navy, 30%)

header nav ul li:hover
	background-color lighten(_grey, 50%)
	
header nav ul li:hover a
	color lighten(_navy, 30%)
	
header nav ul li a
	text-decoration none
	
header nav > ul > li > a
	color _navy
	text-transform uppercase

header nav ul li ul
	padding 0
	position absolute
	top 40px
	min-width 200px
	display none
	opacity 0
	visibility hidden
	transition opacity 0.2s
	
header nav ul li .login
	right 0px
	
header nav ul li .sub
	left 0px

header nav ul li:hover ul
	display: block;
	opacity: 1;
	visibility: visible;
	
header nav ul li ul li
	background: lighten(_grey, 50%)
	display: block; 
	color: darken(_grey, 50%)
	
header nav ul li ul li:hover
	background: lighten(_navy, 10%)
	
header nav ul li ul:last-child
	border-bottom 3px solid lighten(_navy, 30%)
	
// Accent bar below bar main

.accentBar
	height     16px
	min-height 16px
	max-height 16px
	
	background-color lighten(_grey, 40%)
	
/*
 * Action Bar and Call to Action
 */

.actionBar .action
	padding-top    150px
	padding-bottom 150px
	margin 0 auto
	width 70%
	
.actionBar .action div
	text-align center

// "Make a difference" title

.actionBar .header
	font-size 2.4em
	
.actionBar .header *
	display inline

.actionBar .header .primary
	font-style oblique

.actionBar .header .secondary
	font-weight bold

// Buttons and interaction

.actionBar .sub
	margin-top 30px

.actionBar .sub .button
	padding 10px
	margin  10px
	
	width 20%
	display inline-block
	
	font-family "Arial"
	font-size 1em
	font-weight bold
	text-decoration none
	text-transform uppercase
	border 3px solid _navy

.actionBar .sub .secondary
	color _navy

.actionBar .sub .primary
	background-color _navy
	color white