/*
 * Global Colors
 */
 
_grey   = #EBEBEB
_navy   = #1B2E5D
_blue   = #295cd2
_yellow = #FEBB47
_green  = #40AB6F

topWidthNormal = 180px
topWidthSmall  = 80px

/*
 * Import Nib & CSS Reset
 */

@import 'fonts'
@import 'template'
@import 'issues'
@import 'issues-page'
@import 'footer'
@import 'alert'
@import 'about'
@import 'constitution'
@import 'material-issues'
@import 'news'
@import 'food'
@import 'technology.styl'
@import 'mobilenav'
@import 'nib'
global-reset()

/*
 * Global Styling
 */
 
*::selection
	background-color lighten(_yellow, 10%)
	color darken(_yellow, 60%)

.bar
	width 100%
	
.innerBar
	margin 0 auto
	
	width     1000px
	max-width 1000px
	min-width 1000px
	
.contentBody
	position relative
	top 0px
	
.body
	position relative
	top 180px
	
/*
 * Header and Navigation
 */
 
.barMain
	display -webkit-flex
	display flex

	z-index 9999
	top 0px
	left 0px
	position fixed
	background-color _grey
	outline 12px solid alpha(_grey, 0.5)
	
	height topWidthNormal
	
	transition height 0.4s
	
	.navImage
		display none
	
	// Flex box instructions for vertical alignment

	.innerBar
		align-self center

// The barMainSmall class is added by JQuery
// when the user scrolls, making the  entire
// header bar smaller
	 
.barMainSmall
	height topWidthSmall
	min-height topWidthSmall
	
// Header (Whole)

header
	display -webkit-flex
	display flex
	flex-wrap nowrap
	justify-content space-between
	align-items center

	// Image/Logo
	
	.image .img
		width 400px
		transition width 0.4s

// This class is added when the user scrolls,
// which makes the logo in the header smaller.

.imageSmall
	width 270px !important
	min-width 270px

/* 
 * Navigation Bar
 *
 * This section includes all of  the  code  for
 * the navigation bar, how it responds to media
 * query changes, its animations, and things of
 * that nature.
 */
 
// Main List Items
// These are the list items  that  are
// displays horizontally at the top of
// the web page.

header nav ul li
	display inline-block
	position relative
	
	padding 13px
	
	font-family Futura
	font-weight normal
	font-size 1em
	
	// Removed because currently animating inline
	// the sub ul lists does not work.	
	// transition: all 0.4s
		
	// Change the background of the uppermost
	// list items on hover

	&:hover
		background-color lighten(_grey, 50%)

// Apply font bolding on the the uppermost
// list items

header nav > ul > li
	font-weight bold

// Inside of a list item there is an a block.
// This removes the text decoration and  sets
// the  color  of  all top  most and  child a
// blocks. 

header nav ul li a
	text-decoration none
	color _navy

// Changes only the uppermost list items
// to uppercase

header nav > ul > li > a
	text-transform uppercase

// Secondary Unordered Lists

header nav ul li ul
	padding 0
	position absolute
	top 40px
	min-width 200px
	opacity 0
	visibility hidden

	transition: visibility 0s linear 0.5s, opacity 0.5s linear;

// Hover of Secondary Unordered Lists

header nav ul li:hover ul
	display block
	opacity 1
	visibility visible
	
	transition-delay:0s;

// Moves login secondary unordered list to point
// in the other direction so it looks better.

header nav ul li
	
	.login
		right 0px
		
	.sub
		left 0px
		box-shadow 0 6px 4px -2px rgba(50, 50, 50, 0.40)

// Secondary List Items

header nav ul li ul li
	display block
	
	max-width 250px
	min-width 250px
	width     250px
	
	background lighten(_grey, 50%)
	
	// Hover of Secondary List Items
	
	&:hover
		background-color lighten(_navy, 90%)

	// Child links a
	*
		padding-left 8px
		transition all 0.4s

header nav ul li ul li:hover a
	padding-left 14px

// Make child a blocks expand to fill
// their entire given space
header nav ul li ul a
	display block

// Blue border on the bottom of the 
// last child of the sub list.

header nav ul li ul:last-child
	border-bottom 3px solid lighten(_navy, 30%)
	border-width 0px
	transition border-width 0.4s
	
header nav ul li:hover ul:last-child
 	border-width 3px

// Profile description
// Edited size and line height
	
header nav ul li ul li .desc
	font-size .8em
	line-height 1.5em

/*
 * End of Navigation Bar
 */
	
/*
 * Action Bar and Call to Action
 */

.actionBar .action
	padding-top    150px
	padding-bottom 150px
	margin 0 auto
	width 70%
	
	div
		text-align center

// "Make a difference" title

.actionBar
	
	.header
		font-family Constantia
		color _grey
		font-size 3em
	
		*
			display inline

// .actionBar .header .primary
// 	font-style oblique

.actionBar .header .secondary
	font-weight bold

// Buttons and interaction

.actionBar .sub
	margin-top 30px

.actionBar .sub .button
	width 20%

.button
	padding 10px
	margin  10px

	display inline-block
	
	font-family Futura
	font-size 1em
	font-weight bold
	text-decoration none
	text-transform uppercase
	border 3px solid _grey
	
	transition all 0.4s

.button.primary
	background-color _grey
	color _blue
	
	&:hover
		background-color alpha(_grey, 0.0)
		color _grey

.button.secondary
	color _grey
	
	&:hover
		background-color _grey
		color _blue
	
/*
 * Dynamic Background & Moving Parts
 * 
 * This section of the code handles the moving
 * background, its secondary pieces,  and  the
 * rest of the features in that area.
 */

.background
	position relative
	overflow hidden
	
	height     1350px
	min-height 1350px
	max-height 1350px

	background-image url("/images/mab.jpg")
	background-attachment fixed
	background-size  cover

	> img
		width 100%

.background .cover
	margin-left -200px
	position absolute
	width 100%

.primaryCover
	background-color alpha(_navy, 0.6)
	
	transform rotate(-4deg)

	top 550px
	height 1000px
	
.secondaryCover
	background-color alpha(_grey, 0.3)
	
	transform rotate(-1deg)
	
	top 1130px
	height 500px
	
.tertiaryCover
	background-color alpha(_grey, 1)
	transform rotate(-1.5deg)		
	top 1200px
	height 300px
	
/*
 * Foreground
 *
 * The foreground is the main part of the  web
 * page that is to be positioned on top of the
 * background elements.
 */
 
.foreground
	position absolute
	top topWidthNormal
	
/*
 * News and Buttons
 *
 * Recent news story and more call to action
 * buttons will go here.
 */

.news
	width 85%
	margin 0 auto
	display -webkit-flex
	display flex
	justify-content space-between

.story
	width 450px

.story > *
	padding-bottom 10px

.story h2
	font-family Constantia
	font-size 2em
	color _grey
 	
.story h5
	font-family Futura
	font-size 0.8em
	font-weight bold
	text-transform uppercase
	color _grey

.story p
	font-family Constantia
	font-size 1.2em
	line-height 1.2em
	color _grey
	
// Call to action buttons next to news

.buttons
	display -webkit-flex
	display flex
	flex-direction column
	flex-flow space-around
	flex-wrap nowrap
	align-items center

.buttons *
	font-size 0.8em
	display block
	text-align center
	width 220px
	
/*
 * Front page issue bar
 */

.barIssues
	margin-top 50px

	.constrainContainer
		width 1000px
		margin 0 auto
		
	.decoration
		height 12px
		background-color alpha(_grey, 0.5)
		
	.decoration-dark
		height 12px
		background-color alpha(darken(_grey, 30%), 0.6)
		
	.issues
		border-top-left-radius  10px
		border-top-right-radius 10px
		background-color _grey
		
		.inner
			padding 20px

			.header
				width 93%
				margin 0 auto
				display -webkit-flex
				display flex
				flex-direction column
				justify-content space-between
				padding-bottom 5px
				
				.upper
					margin-top 10px
					display -webkit-flex
					display flex
					flex-direction row
					justify-content space-between
					
					// Issue header title

					.title
						font-family Futura
						font-size 1.8em
						text-transform uppercase
						color _navy
					
					.title .secondary
						font-weight bold
					
				.lower
					display -webkit-flex
					display flex
					flex-direction column
					text-align center
					padding 40px 0px
					padding-bottom 5px
					
					p
						font-family Futura
						font-size 1.3em
						color _navy
						
				.lowerAlert
					display -webkit-flex
					display flex
					flex-direction row
					align-items center
					justify-content center
					text-align center
					padding-top 30px
					padding-bottom 0px
					
					p
						color _navy
						font-size 1.3em
						font-family Futura
						padding-right 15px
						
						.bold
							font-weight bold
					
					a
						padding 10px 20px
						font-family Futura
						font-weight bold
						font-size 0.82em
						text-decoration none
						text-transform uppercase
						color darken(_green, 55%)
						background-color _green
						border-radius 20px
						border 3px solid _green
						
						transition all 0.4s
						
						&:hover
							background-color _grey
							
						

		// Issue header buttons
			
		.buttons
			display -webkit-flex
			display flex
			flex-direction row

		.button
			margin 0px
			margin-left 15px
			
			width 150px
			border-radius 20px
			border-color _navy
			
		.button.primary
			background-color _navy
			color _grey
			
			&:hover
				background-color _grey
				color _navy
		
		.button.secondary
			color _navy
		
			&:hover
				background-color _navy
				color _grey

/*
 * Responsive Imports
 */

@import 'index-responsive'
@import 'material-issues-responsive'

.superAlert
	height 100% !important
	max-height 100% !important
	min-height 100% !important
	background-color _navy
	
	p
		padding 50px
		
		height 100% !important
		max-height 100% !important
		min-height 100% !important
		
		font-family sans-serif
		font-size 40px
		color _grey