.topBar
	display flex
	justify-content space-between

	max-width 1000px
	width 100%
	
	padding 16px
	padding-top 38px
	
	a
		display inline-block
		padding 8px 20px
		font-family Futura
		font-weight bold
		font-size 0.75em
		text-transform uppercase
		text-decoration none
		color lighten(_navy, 60%)
		border 1px solid lighten(_navy, 60%)
		border-radius 20px
		transition all 0.4s
		margin-right 20px
		
		&:hover
			background-color lighten(_navy, 60%)
			color _navy

.alertContainer
	display -webkit-flex
	display flex
	flex-direction column
	-webkit-flex-direction column
	align-items center
	-webkit-align-items center

	h1
		padding-top 30px
		padding-bottom 20px
		font-family Futura
		font-size 1.4em
		font-weight bold
		text-transform uppercase
		color darken(_grey, 35%)
			
	.submit-button
		text-align center
		padding 8px 25px
		margin-bottom 16px
		background-color _navy
		border 4px solid _navy
		color white
			
		font-family Futura
		font-size 0.7em
		font-weight bold
		text-transform uppercase
		text-decoration none
			
		transition all 0.4s
			
		&:hover
			background-color _grey
			color _navy

.singleIssue
	display -webkit-flex
	display flex
	justify-content center
	-webkit-justify-content center
	align-items center
	flex-direction column
	background-image url("/images/DarkBackground.png")

	.container
		min-height 270px
		display -webkit-flex
		display flex
		padding 60px
		padding-top 10px
		
		> .left
			width     700px
			min-width 700px
			max-width 700px
			
			.top
				padding-bottom 10px
				
				h1
					font-family Constantia
					font-size 3em
					color white
				
				h3
					padding-top 10px
					
					font-family Futura
					font-size 0.8em
					font-weight bold
					color _yellow
					text-transform uppercase
					
			.bottom
				padding-top 30px
				
				h5
					opacity 0.5
					font-family Constantia
					font-size 0.8em
					color #95a3d2
					padding-bottom 10px

				p
					font-family Constantia
					font-size 1.4em
					line-height 1.4em
					color white

					transition all 0.5s ease
		
		> .right
			display -webkit-flex
			display flex
			flex-direction column
			-webkit-flex-direction column
			justify-content space-between
			-webkit-justify-content space-between

			width     300px
			min-width 300px
			max-width 300px
			
			.stats
				display -webkit-flex
				display flex
				flex-direction row
				-webkit-flex-direction row
				justify-content space-between
				
				.left
					
					> *
						display block
						
					span
						display inline-block
						font-size 2em
						
					.number
						width 90px
						font-family Futura
						font-weight bold
						text-align right
						
					.word
						padding-left 15px
						font-family FuturaCond
						text-transform uppercase
						
					.rowOne
						color _yellow
						
					.rowTwo
						color lighten(_yellow, 20%)
						
					.rowThree
						color lighten(_yellow, 60%)
						
				.right
					display -webkit-flex
					display flex
					
					height     160px
					min-height 160px
					max-height 160px
					
					div
						margin-right 12px
						height 40px
						min-height 10px
						width 13px
						max-width 30px
						
						transition all 0.4s
						
						&:hover
							height 80%
						
					.barOne
						height 87px
						background-color _yellow
						
					.barTwo
						height 147px
						background-color lighten(_yellow, 20%)
						
					.barThree
						height 107px
						background-color lighten(_yellow, 60%)
			
			.share
				
				// POSITION NEW FACEBOOK SHARE BUTTON

				display -webkit-flex
				display flex
				justify-content flex-end
				-webkit-justify-content flex-end
				
				// OLD SHARE LINK DECORATION

				// &:hover
					
				// 	> *
				// 		padding-top 8px

				// a
				// 	display block
				// 	font-family Constantia
				// 	font-size 1.3em
				// 	text-align right
				// 	text-decoration none
				// 	color #95a3d2
					
				// 	padding-top 3px
				// 	transition all 0.5s
					
				// 	&:hover
				// 		text-decoration underline
						
.ialert
	background-color #FEBB47
	
	.innerContainer
		margin 0 auto
		width 80%
		padding 45px
		
		> *
			font-family Futura
			color #3F2E12
			
		strong
			font-weight bold
			
		.atitle
			font-weight bold
			font-size 1.68em
			text-transform uppercase
			padding-bottom 15px
			margin-bottom 15px
			
			border-bottom 2px solid #BE8C35

		.abody
			font-size 1.3em
			
			a
				color #3F2E12
				transition all 0.4s
				
				&:hover
					color lighten(#3F2E12, 20%)

.comments.bar
	display -webkit-flex
	display flex
	flex-direction column
	-webkit-flex-direction column

.commentContainer
	width 70%
	margin 0 auto
	
	.explanationContainer
		width 80%
		margin 0 auto
		font-family Futura
		font-size 1.2em
		text-align center
		color _navy
	
	.submitContainer
		
		form
			height 100px
			margin 40px 0px
			display -webkit-flex
			display flex
			flex-direction row
			-webkit-flex-direction row
			justify-content space-between
			-webkit-justify-content space-between
			
			.text
				height 100%
				width 75%
				
				textarea
					box-sizing border-box
					padding 10px
					height 100%
					width 100%
					
					font-family Futura
					font-size 1.3em
					color _navy
					
					background-color lighten(_grey, 90%)
					border none
					border-bottom 6px solid _navy
					box-shadow 0 6px 8px -1px rgba(50,50,50,0.4)
					outline none
					
			.submitArea
				height 100%
				width 20%
				
				input
					height 100%
					width 100%
					
					background-color _navy
					border 4px solid _navy
					
					font-family Futura
					font-weight bold
					font-size 1.1em
					color _grey
					text-transform uppercase
					
					cursor pointer
					transition all 0.4s
					
					&:hover
						background-color _grey
						color _navy
						
	.childrenContainer
		margin-bottom 60px
		
		.commentBox
			box-sizing border-box
			
			margin 20px 0px
			background-color lighten(_grey, 90%)
			border none
			box-shadow 0 6px 8px -1px rgba(50,50,50,0.4)
			outline none

			.studentBar
				padding 10px 30px
				background-color darken(_grey, 10%)
				
				h2
					color darken(_grey, 80%)
					font-family Futura
					
					.first
						text-transform uppercase
						
					.firstA
						font-size 0.8em

			.adminBar
				padding 20px 30px
				background-color _navy
				
				h2
					color lighten(_navy, 70%)
					font-family Futura
					font-weight bold
					
					.first
						text-transform uppercase
						
					.firstA
						font-size 0.8em
						
				h4
					font-family Futura
					font-size 0.8em
					color lighten(_navy, 70%)
					padding-top 10px
			
			p
				padding 20px 30px
				color darken(_navy, 30%)
				font-family Futura
				font-size 1.2em
				line-height 1.4em