.issueBox
	display flex
	
	.topContainer.votes
		width 130px
		
		.top
			display flex
			flex-direction column
			justify-content center
			
			height 110px
			padding 0px 10px
			
			.score
				font-family Futura
				font-weight bold
				font-size 3em
				letter-spacing -4px
				text-align center
				color _yellow
				
				padding-bottom 4px
				
			.stars
				text-align center
				
				> *
					display inline-block
					padding 0px 4px

		.bottom
			display flex
			flex-direction column
			justify-content center
			
			height 30px

			font-family Futura
			font-weight bold
			font-size .9em
			text-transform uppercase
			
			text-align center

			background-color _yellow
			color darken(_yellow, 50%)
	
	.topContainer
		display inline-block
		margin  5px 5px
		height 140px
		
		background-color _navy

/*
 * Issue Submission Page
 *
 * This section contains the specific CSS for the
 * issue submission page and its components
 */

.submitIssue
	
	.error
		
		text-align center
		
		.innerBar
			font-family Futura
			font-size 1.8em
			color _navy
			
			padding-top 50px
			padding-bottom 50px

		.button.primary
			width 150px
			text-align center
			
			background-color _navy
			border 4px solid _navy
			color _grey
			
			&:hover
				background-color _grey
				color _navy

	.bar
		background-color _grey
	
	.style

	.header

		width 400px
		margin 0 auto
		padding-top 50px
		margin-bottom 50px
		
		text-align center
		
		*
			padding-bottom 12px
		
		h2
			color _navy
			font-family Futura
			font-weight bold
			text-transform uppercase
			font-size 1.2em
	
	.content
		padding-bottom 40px
		
		color _navy
		
		font-family Futura
		font-size 1.3em

		line-height 1.5em
		
		p
			min-width 200px

	.form
		padding-top 120px
		padding-bottom 100px
		display flex
		justify-content center
		flex-direction row
		width 100%
		
		background-image url("/images/mab.jpg")
		background-attachment fixed
		background-size  cover
		background-color alpha(_grey, .5)
		
		form
			width 85%

		.line
			display flex
			align-items left
			flex-direction column
			
			padding-bottom 30px
			
			transition all 0.4s
			
			&:hover
				.label
					width 255px

			.label
				width 240px

				text-align center
				font-family Futura
				font-weight bold
				text-transform uppercase
				font-size 1.4em
				color _navy
				
				padding 10px
				
				background-color lighten(_grey, 60%)
				
				transition all 0.4s
				
			textarea
				min-height 200px
				
			input, select, textarea
				height 35px
				border none
				border-bottom 4px solid _navy
				padding 15px
				
				outline none

				font-family Futura
				font-weight normal
				font-size 1.5em
				color _navy
				background-color lighten(_grey, 50%)
				box-shadow 0 6px 8px -1px rgba(50, 50, 50, 0.40)
				
				//background: linear-gradient(to right, #a2b6e5 0%,#ebebeb 39%,#ebebeb 39%,#ebebeb 100%);
				
				transition all 0.4s
				
				&:focus
					padding 20px

		.submit
			width  300px
			
			input
				height 80px
				
				&:hover
					cursor pointer
					font-size 1.75em