.barIssues
	margin-bottom 60px

.ics
	padding 60px 0px

.issueContainer
	
	// CODE REMOVED
	// This is a possible fix for safari.
		
	// display -webkit-flex
	// display flex
	// flex-direction column
	// align-items center

	background-color _grey
	
	padding-bottom 40px

/*
 * Issue Box
 *
 * This is the container that the different pieces of the
 * issue display are contained in.
 */
.issueBox
	display -webkit-flex
	display flex
	
	/*
     * Generalized Top Container
     */
	.topContainer
		display inline-block
		margin  10px 10px
		height 140px
		
		background-color _navy
		
	.voteStuff
		display -webkit-flex
		display flex
		
	.sideContainer
		display -webkit-flex
		display flex
		
	/*
     * Arrow Container: Arrows
     *
     * Styling for the up-vote and down-vote arrows.
     */
	.topContainer.arrows
		margin-right 0px
		display -webkit-flex
		display flex
		flex-direction row
		justify-content center
		align-items center
		background none
		
		width 60px
		
		.arrowContainer
			width 60px
			display -webkit-flex
			display flex
			flex-direction column
			justify-content center
			align-items center
			
			.uplink
				transition all 0.2s
			
				&:hover
					padding-bottom 10px
					
			.downlink
				transition all 0.2s
				
				&:hover
					padding-top 17px
				

			a
				
				img
					width 40px
					transition all 0.4s
					
				.imageContainer
					position relative
					left 0
					top 0
					
					&:hover
						.upimgacc
							display inline
					
					.upimg
						z-index 100
						position relative
						top 0
						left 0
						
					.upimgacc
						display none
						z-index 101
						position absolute
						top 0
						left 0
						
						transition all 0.2s
	
	/*
     * First Container: Votes
     *
     * Styling for the first container that contains
     * the star images, count of votes, and the type
     * tag for each element.
     */
	.topContainer.votes
		width 130px
		
		.top
			display -webkit-flex
			display flex
			flex-direction column
			justify-content center
			
			height 110px
			padding 0px 10px
			
			.score
				font-family Futura
				font-weight bold
				font-size 3em
				text-align center
				color _yellow
				
				padding-bottom 4px
				
			.stars
				text-align center
				
				> *
					display inline-block
					padding 0px 4px

		.bottom
			display -webkit-flex
			display flex
			flex-direction column
			justify-content center
			
			height 30px

			font-family Futura
			font-weight bold
			font-size .9em
			text-transform uppercase
			
			text-align center

			background-color _yellow
			color darken(_yellow, 50%)
			
	/*
     * Second Container: Content
     *
     * Contains the main information about the issue such as
     * the title, the date, and a bit of the description.
     */
	.topContainer.content
		display -webkit-flex
		display flex
		flex-direction column
		justify-content space-between
		overflow hidden
		
		background-image url("/images/LAUREL.png")
		background-repeat no-repeat
		background-position 430px 0px
		background-size 20% auto
		
		width 550px
		
		transition all 0.4s
		
		&:hover
			
			background-size 22% auto;
			background-position 430px 0px
			
			.container
				> .top
					> .top
						
						a
							text-decoration underline
							
							h1
								font-size 1.6em
								
							h1.small
								font-size 1.2em
								
						h3
							font-size .65em
				> .bottom
					p
						font-size 1.2em
						
			.alert
				a
					bottom 0px
		
		.container
			
			> .top
				display -webkit-flex
				display flex
				justify-content space-between
				align-items center

				padding-top 20px
				padding-left 30px
				
				transition all 0.4s
				
				> .alert
					position relative
					bottom 0px
				
				> .top
					width 320px
					
					transition font 0.4s
					
					a
						text-decoration none
						color white

						h1
							transition all 0.4s
							font-family Constantia
							font-size 1.8em

							color white
							
						h1.small
							font-size 1.4em
					
					h3
						transition all 0.4s
						padding-top 5px
						font-family Futura
						font-size .76em
						font-weight bold
						text-transform uppercase
						
						color _yellow
						
				> .bottom
					display none
					// TODO: Implement this feature for SGO responses
					
					.button-issue
						margin-right 30px
						padding 6px 18px
						border 2px solid #40ab6f
						border-radius 30px
						
						font-family Futura
						font-size .8em
						font-weight bold
						text-transform uppercase
						text-decoration none
						
						background-color #40ab6f
						color darken(#40ab6f, 40%)
						
						transition all 0.4s

						&:hover
							background-color _navy
							border 2px solid #40ab6f
							color #40ab6f
				
			> .bottom
				p
					transition all 0.4s
					padding-top 10px
					padding-left 30px
					font-family Constantia
					font-size 1.3em
					color white
		
		.alert
			a
				display -webkit-flex
				display flex
				justify-content center
				align-items center
				
				height 20px
				position relative
				bottom -30px

				font-family Futura
				font-weight bold
				font-size .7em
				text-transform uppercase
				
				padding 6px

				background-color lighten(_navy, 10%)
				color lighten(_navy, 50%)
				
				transition all 0.4s ease
				

	/*
     * Third Container: Social
     *
     * Shows links for reading more, sharing, and discussing
     * the current issue.
     */
	.topContainer.social
		display -webkit-flex
		display flex
		flex-direction column
		justify-content space-between
		align-items center
		width 130px
		
		&:hover
			> .top
				a
					padding-bottom 9px
		
		> .top
			
			display -webkit-flex
			display flex
			flex-direction column
			
			padding-top 20px
			
			a
				padding-bottom 6px
				font-family Constantia
				font-size 1.2em
				text-decoration none
				color white
				
				transition all 0.3s
				
				&:hover
					text-decoration  underline
					
		.bottom
			display -webkit-flex
			display flex
			justify-content center
			align-items center
			
			width 130px
			height 30px
			
			background-color darken(_navy, 30%)
			
			transition all 0.4s

			&:hover
				height 35px
				
				p
					font-size .6em
					text-decoration underline
			
			p
				font-family Futura
				font-weight bold
				font-size .7em
				text-transform uppercase
				
				transition all 0.2s
				
				a
					color white
					text-decoration none

/*
 * Issue Submission Page
 *
 * This section contains the specific CSS for the
 * issue submission page and its components
 */

.submitIssue
	
	.error
		
		text-align center
		
		.innerBar
			font-family Futura
			font-size 1.8em
			color _navy
			
			padding-top 50px
			padding-bottom 30px

		.button.primary
			width 150px
			text-align center
			
			background-color _navy
			border 4px solid _navy
			color _grey
			
			margin-bottom 50px
			
			&:hover
				background-color _grey
				color _navy

	.bar
		background-color _grey
	
	.style

	.header

		width 400px
		margin 0 auto
		padding-top 50px
		margin-bottom 50px
		
		text-align center
		
		*
			padding-bottom 12px
		
		h2
			color _navy
			font-family Futura
			font-weight bold
			text-transform uppercase
			font-size 1.2em
	
	.content
		padding-bottom 40px
		
		color _navy
		
		font-family Futura
		font-size 1.3em

		line-height 1.5em
		
		p
			min-width 200px

	.form
		padding-top 120px
		padding-bottom 100px
		display -webkit-flex
		display flex
		justify-content center
		flex-direction row
		width 100%
		
		background-image url("/images/mab.jpg")
		background-attachment fixed
		background-size  cover
		background-color alpha(_grey, .5)
		
		form
			width 85%

		.line
			display -webkit-flex
			display flex
			align-items left
			flex-direction column
			
			padding-bottom 30px
			
			transition all 0.4s
			
			&:hover
				.label
					width 255px

			.label
				width 240px

				text-align center
				font-family Futura
				font-weight bold
				text-transform uppercase
				font-size 1.4em
				color _navy
				
				padding 10px
				
				background-color lighten(_grey, 60%)
				
				transition all 0.4s
				
			textarea
				min-height 200px
				
			input, select, textarea
				height 35px
				border none
				border-bottom 4px solid _navy
				padding 15px
				
				outline none

				font-family Futura
				font-weight normal
				font-size 1.5em
				color _navy
				background-color lighten(_grey, 50%)
				box-shadow 0 6px 8px -1px rgba(50, 50, 50, 0.40)
				
				transition all 0.4s
				
				&:focus
					padding 20px

		.submit
			width  300px
			
			input
				height 80px
				
				&:hover
					cursor pointer
					font-size 1.75em