/*
 * Issue Containers
 *
 * The issue containers are containers in various
 * places that contain the list of issues and bound
 * them to a certain size.
 */
 
.mIssueContainer
	width 73%
	height 100%
	margin 0px auto
	
	> *
		margin 30px 0px

.mfIssueContainer
	width 93%
	height 100%
	margin 0px auto
	
	> *
		margin 30px 0px

/*
 * Material Issue Box
 *
 * This is a new issue box based loosely on material
 * design and is made to work better for the website's
 * responsive layout than the old design did.
 */
.mIssueBox
	width 100% // Parent container defines width of box
	border-radius 10px
	
	box-shadow 0px 25px 48px -9px rgba(0,0,0,0.40)
	
	> .upper
		border-top-left-radius  10px
		border-top-right-radius 10px
		background-color _navy
		
		// Global styling for .upper > .innerContainer
		> .innerContainer
			width auto
			display inline-block
			
		// Inner Container: Score, Content, Info, etc
		.main
			min-height 160px
			display flex
			align-items center
			
			.area.right
				display flex
				flex-direction row
				align-items stretch
			
			.area.score
				min-width 100px
				display flex
				align-items center
				margin 0px 40px
				
				.holder
					width 100%
				
				.likes
					margin-bottom 7px
					
					p
						font-family Futura
						font-weight bold
						font-size 3.2em
						text-align center
						color _yellow
				
				.stars
					width 110%
					display flex
					justify-content center
					
					.starImage
						margin 0px 3px
						width 30px
						height 30px
						
			.area.votesDesktop
				display flex
				flex-direction column
				justify-content center
				
				margin 30px 0px
				padding-left 30px
				border-left 2px solid #293f70
				
				.mImageContainer
					
					.imageUp
						margin-bottom 10px
						transition all 0.2s
					
					.imageDown
						margin-top 0px
						transition all 0.2s
						
					.imageMain
						width 32px

			.area.content
				margin 30px 30px
				margin-right 40px
				
				a
					text-decoration none
					color _grey
					transition all 0.4s
						
					&:hover
						text-decoration underline
				
				.upper
					
					.votesMobile
						display none
						
					.title
						margin-bottom 12px
						
						h1
							font-family Constantia
							font-size 1.8em
							color _grey
							margin-bottom 12px
							
						h3
							font-family Futura
							font-size 0.8em
							font-weight bold
							text-transform uppercase
							color _yellow

				.lower
					
					p
						font-family Constantia
						font-size 1.1em
						color _grey
						
					.adminInfo
						margin-top 15px
						padding 10px
						
						border 2px solid lighten(_navy, 40%)
						background-color lighten(_navy, 80%)
						
						h3
							padding-bottom 10px
							
							font-family Futura
							font-size 1.0em
							font-weight bold
							text-transform uppercase
							color _navy
							
						p
							color _navy
							
							span
								display inline-block

							.bold
								width 170px
								font-weight bold
					
	> .lower
		display flex
		justify-content space-between
		border-bottom-left-radius  10px
		border-bottom-right-radius 10px
		background-color _yellow
		//background-color darken(_navy, 40%)
		
		> *
			display flex
			align-items center
			
		.left
			margin-left 14px
			
			.imageContainer
				text-align center
				width 22px
			
				.warning
					width  20px
					height 20px
					
					animation-name pulse
					animation-duration 1s
					animation-iteration-count infinite

		.right
			margin-right 14px

		a
			display inline-block
			padding 12px 13px

			font-family Futura
			font-weight bold
			font-size 0.84em
			text-transform uppercase
			text-decoration none
			color darken(_yellow, 55%)
			
			transition all 0.4s
			
			&:hover
				padding 12px 20px

/*
 * Add More Alert
 *
 * This is an alert-type box that commonly appears
 * at the end of issue listings. It supports one line
 * of text and multiple buttons below that line of
 * text
 */
.addMore
	display -webkit-flex
	display flex
	flex-direction column
	align-items center

	h1
		padding 34px 0px
		font-family Futura
		font-size 1.4em
		font-weight bold
		text-transform uppercase
		color darken(_grey, 35%)
		

	.multButtons
		margin-bottom 30px
		
		.submit-button
			margin 8px
			margin-top 20px
			text-align center
			padding 8px 25px
				
			background-color _navy
			border 4px solid _navy
			color white
				
			font-family Futura
			font-size 0.7em
			font-weight bold
			text-transform uppercase
			text-decoration none
				
			transition all 0.4s
				
			&:hover
				background-color _grey
				color _navy

@keyframes pulse {
	0% {
		width 15px
		height 15px
	}
	50% {
		width 20px
		height 20px
	}
	100% {
		width 15px
		height 15px
	}
}

/*
 * Sort Switcher
 *
 * This switches between the different
 * filters that can be applied to the issue page.
 * This specific sort switcher is used on the
 * issues page.
 */
.sortSwitcher
	display flex
	justify-content center
	
	> *
		height 15px
		text-align center
		padding 10px 15px
		font-family Futura
		font-weight bold
		text-transform uppercase
		text-decoration none
		color darken(_grey, 35%)
		transition all 0.4s
	
	a
		&:hover
			font-size 1.2em
		
	.highlight
		color _navy
		