@media screen and (max-width: 800px)

	.mIssueContainer
		width 85%
		margin 0px auto
		
		> *
			margin 30px 0px

	.mIssueBox
		
		.upper .main
			display flex
			flex-direction column
			
		.score
			.holder
				margin 30px 0px
				margin-bottom 7px
				
				.likes p
					font-size 4em !important
					
				.stars .starImage
					width  38px !important
					height 38px !important

		.votesDesktop
			display none
			
		.content
			margin 20px !important
						
			.upper
				display flex
				flex-direction row
				padding 10px
				padding-bottom 20px
				border-bottom 2px solid #293f70
				
				.title
					display flex
					flex-direction column
					justify-content center
					margin-bottom 0px !important
					
					h1
						font-size 1.5em !important
						
					h3
						font-size 0.75em !important
					
				.mImageContainer
					margin-top 5px
					
					.imageMain
						width 30px

			.votesMobile
				display flex !important
				flex-direction column
				justify-content center
				margin-right 20px
				
			.lower
				margin-top 20px
				
				p
					font-size 1.1em !important
					text-align center
				
		.lower
			display flex
			justify-content center
			
			a
				font-size 0.9em !important