.techContent
	margin 0 auto
	width 85%
	max-width 1000px
	padding 40px 0px
	color darken(lightslategrey, 50%)

.techContainer
	margin-bottom 40px
	box-sizing border-box
	
.techHeader
	padding-bottom 20px
	font-family Futura
	text-transform uppercase
	font-weight bold
	font-size 1.6em	
	
.techText
	font-family Futura
	
	p
		font-size 1.4em
		line-height 1.4em
	
.techList
	font-family Futura
	background-color _grey
	
	.innerList
		
		li
			font-size 1.3em
			padding 10px
		
			> *
				padding-right 10px
				display inline-block
				
			.technology
				font-weight bold
				
@media screen and (max-width: 1000px)

	.techList .innerList li > *
		display block
		padding-bottom 15px