.body, .bod, html, body
	background-color _grey

.t-header
	display -webkit-flex
	display flex
	flex-direction row
	align-items center

	width 100%
	height 500px
	
	background-image url("/images/mab.jpg")
	background-size cover
	
	color white
	text-align center
	
	.t-title
		margin 0 auto
		margin-top 180px
		text-transform uppercase
	
		h1
			font-family Futura
			font-weight bold
			font-size 4em
			padding-bottom 12px

		h2
			font-family FuturaCond
			font-size 2.2em