div.emailContainer

	include ../includes/header.jade

	div.linkBox
		a(href="http://lsmsasgo.com/") Go to Website
		a(href="http://lsmsasgo.com/issues/") View All Issues
		a(href="http://lsmsasgo.com/about/") View About

	each container in containers

		div.messageContainer

			div.title
				h2= container.title

			div.body
				p= container.body

	include ../includes/issueListing.jade